{% extends 'base.html' %}
{% block title %}Piece{% endblock %}

{% block content %}

<br>

<div class="container">

    <form method="post">
        
        <div class="field">

            <label class="label">Nom</label>

            <div class="control">
              <input name="nom_piece" class="input" type="text" placeholder="Nom de la piece">
            </div>
            
        </div>

        <div class="field">

            <label class="label">Image</label>

            <div class="control">
              <input name="img" class="input" type="text" placeholder="Entrer URL d une image">
            </div>
            
        </div>

        <div class="field">

            <label class="label">Description</label>

            <div class="control">
              <textarea name="description" class="textarea" placeholder="Petite Description"></textarea>
            </div>

        </div>

        <div class="control">
            <button type="submit" class="button is-dark">Valider</button>
        </div>

    </form>

</div>

{% endblock %}