{% extends 'base.html' %}

{% block content %}


<section class="hero is-fullheight-with-navbar" style="background-image: url('https://ak1.ostkcdn.com/images/products/is/images/direct/101cbeb13118bce4432b0f25d563fef04f953ff1/Dark-Tropical-Mix-Removable-Wallpaper.jpg'); background-size: cover;">
    <div class="hero-body">

        <div class="container has-text-centered">
            <p class="title has-text-white">Decouvrez nos expositions..</p>
        </div>

    </div>

    <div class="hero-foot">
        <nav class="tabs">
          <div class="container">
            <ul>
              <li style="background-color: #43730E; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 0px 30px;"><a class="has-text-white" href="{{ url_for('views.piece') }}">Découvrez</a></li>
            </ul>
          </div>
        </nav>
    </div>

</section>
  

{% endblock %}